<ng-progress [meteor]="options.meteor" [color]="options.color"
             [spinner]="options.spinner" [spinnerPosition]="options.spinnerPosition" [direction]="options.direction"
             [thick]="options.thick" [ease]="options.ease">
</ng-progress>
<nav class="navbar row header-container">
    <div class="col-md-8 initialPadding">
        <a href (click)="changeMenuOpen()" class="menu ion-navicon" href="javascript:void(0)">
            <span class="ion ion-md-menu"></span>
        </a>
        <a routerLink="/dashboard" class="clearfix d-inline-block" style="margin-left: 16px">
            <!-- <img src="../../../../assets/images/{{themeName}}-logo.png" alt="CyberNetiz Logo" /> -->
            <img src="../../../../assets/images/black-logo.png" alt="CyberNetiz Logo" style="width:60%;"/>
        </a>
    </div>

    <div class="col-md-3 row">
        <div class="col-md-10 input-group initialPadding">
            <input type="text" class="form-control" [(ngModel)]="searchEntity" placeholder="Search Risky Entities"
                   (keyup.enter)="filterRiskEntities()">
            <div class="input-group-append" (click)="filterRiskEntities()">
                <span class="input-group-text">
                    <i class="fa fa-search" style="font-size: initial;"></i>
                </span>
            </div>
        </div>

        <div class="col-md-1 input-group initialPadding" style="display: flex;align-items:center; position:relative;padding-top:20px;display:inline-block;">
            <a routerLink="/dashboard" class="al-logo clearfix">                
                <span *ngIf="notificationCount > 0" class="notify-badge">{{notificationCount}}</span>
                <img class="notify" src="../../../../assets/images/notification.png" alt="CyberNetiz Logo"/>
            </a>
        </div>

    </div>

    <!-- <div class="col-md-1 input-group initialPadding">
        <a routerLink="/dashboard" class="al-logo clearfix">
            <img src="../../../../assets/images/notification.png" alt="CyberNetiz Logo" />
        </a>
    </div> -->

    <div class="user-profile">
        <div class="dropdown al-user-profile pl-3">
            <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown"
               aria-expanded="false">
                <!-- <div class="col-md-3 row ">
                    <img class="logged-user-img" src="../assets/images/users/service_user.jpeg">
                </div> -->
                <div class="col-md-3 row logged-user-name">
                    <span>{{loggedInUserDetails.firstName}} {{loggedInUserDetails.lastName}}</span>
                </div>
            </a>

            <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
                <!--<li class="dropdown-item"><a href><i class="fa fa-user m-r-sm"></i>{{'global.profile' | translate}}</a></li>-->
                <!--     <li class="dropdown-item"><a (click)="showSettings(settingsModal)"><i
                                class="fa fa-cog m-r-sm"></i>{{'global.settings' | translate}}</a></li> -->
                <li class="dropdown-item"><a (click)="signout()" class="signout"><i
                    class="fa fa-power-off m-r-sm"></i>{{'actions.signOut' | translate}}</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--User settings modal template-->
<ng-template #settingsModal>
    <div class="modal-header">
        <h4 class="modal-title">{{'global.settings' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="theme-selection">
            <h6>{{'global.themeLabel' | translate}}</h6>
            <label class="m-r-sm" (click)="themeName='black'">
                <input type="radio" ([ngModal])="themeName" name="themeGroup" [checked]="themeName === 'black'">
                {{'global.themes.dark' | translate}}
            </label>
            <label (click)="themeName='blue'">
                <input type="radio" ([ngModal])="themeName" name="themeGroup" [checked]="themeName === 'blue'">
                {{'global.themes.blue' | translate}}
            </label>
        </div>
    </div>
</ng-template>
