.userList {
    width: 99%;
  
    input.form-control {
      border-right-color: unset !important;
      border-radius: 5px !important;
    }
  }
  
  button.btn {
    margin: 5px !important;
    margin-top: 0px !important;
  }
  
  .fa-lock:before {
    font-size: inherit !important;
    color: white !important;
  }
  
  .has-search .form-control {
    padding-left: 2.375rem;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  