.auth-main {
  position: absolute;
  display: flex;
  width: calc(100% - 50px);
  height: 100%;
  align-items: center;
  width: -webkit-fill-available;
  margin-left: -2rem;
  .auth-block {
    width: 540px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: $auth-block-bg-color;
    color: $text-white;
    font-size: 18px;
    box-shadow: $black-bg-box-shadow;
    padding: 20px;
  }
}

.btn {
  margin-top: 0.5rem;
}
