<!--
<div class="card" *ngFor="let chart of pieChartList">
    <div class="card-body">
        <div class="pie-chart-container">
            &lt;!&ndash; <div class="chart-inner-container">
                <easy-pie-chart [percent]="chart.count" [options]="chart"></easy-pie-chart>
                <div class="pie-chart-percent">{{chart.count}}%</div>
            </div> &ndash;&gt;
            <div class="ico mt-2 mb-3">
                <img
                    class="imagePixelate"
                    src="./../../../../../assets/images/dashboard_icons/{{
                        chart.ico
                    }}"
                />
            </div>
            <div class="chart-info mt-2 mb-1">
                <div class="count">{{ chart.total }}</div>
                <div class="title">{{ chart.title }}</div>
            </div>
        </div>
    </div>
</div>
-->


<ngb-carousel>
    <ng-template ngbSlide>
        <div class="carousel-slide-container">
            <div class="card" *ngFor="let chart of pieChartList1">
                <div class="card-body">
                    <div class="pie-chart-container">
                        <div class="ico mt-2 mb-3">
                            <img class="imagePixelate" src="./../../../../../assets/images/dashboard_icons/{{
                        chart.ico
                    }}" />
                        </div>
                        <div class="chart-info mt-2 mb-1">
                            <div class="count">{{ chart.total }}</div>
                            <div class="title">{{ chart.title }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="carousel-slide-container">
            <div class="card" *ngFor="let chart of pieChartList2">
                <div class="card-body">
                    <div class="pie-chart-container">
                        <div class="ico mt-2 mb-3">
                            <img class="imagePixelate" src="./../../../../../assets/images/dashboard_icons/{{
                        chart.ico
                    }}" />
                        </div>
                        <div class="chart-info mt-2 mb-1">
                            <div class="count">{{ chart.total }}</div>
                            <div class="title">{{ chart.title }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</ngb-carousel>
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card col-md-2" *ngFor="let chart of pieChartList">
                <div class="card-body">
                    <img src="./../../../../../assets/images/{{chart.ico}}">
                    <div class="chart-info">
                        <div class="count">{{chart.total | number}}</div>
                        <div class="title">{{chart.title}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->