.modal-buttons .btn {
  margin-right: 20px;
  padding: 0 0 0 1em;
}

.modal-content {
  color: black;
  background-color: #b9cfdb;
  text-align: center;
}

.changePassword {
  // contents starts from left starting
  .modal-footer {
    justify-content: flex-start !important;
    border-top: 1px solid #5b637b !important;
  }

  button.btn {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #050606;
    color: white;
  }

  .btn:focus {
    outline: 1px solid blue !important;
  }

  // entering value
  input {
    color: #bdbdbd !important;
  }

  // place holder
  input::placeholder {
    color: #2d2121 !important;
  }

  .form-control {
    color: #2d2121 !important;
    border: 1px solid #6e7a86;
    border-radius: 5px;
  }

  .form-control:focus {
    color: #2d2121 !important;
    background-color: transparent;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .contentCenter {
    display: inline-grid;
    align-items: center;
  }
}
