img.img-rounded {
  width: 4rem !important;
}
span.cardHeading {
  font-size: 13px;
  font-weight: 600;
}

.cardText {
  font-size: 10px;
  /* font-weight: 600; */
  margin-top: -2px;
}

.initialPadding {
  padding: initial;
}

.rightPadding {
  padding-right: initial;
}

.centerAlign {
  display: flex;
  align-items: center;
}

img.img-rounded {
  width: 3rem !important;
}

.mainText {
  font-size: smaller;
  font-weight: 600;
}

.cardPadding {
  padding: 6px 8px;
}

.anchor {
  font-size: 13px;
  margin-top: 2px;
  margin-left: inherit;
}