<form class="" [formGroup]="userForm">
  <div class="ml-2 mr-1 mt-2 mb-2">
    <div class="d-inline-block w-100">
      <h4 class="commonHeader pull-left">{{pageTitle}}</h4>

      <span class="pull-right">
        <button type="button" class="btn btn-primary btn-sm" (click)="previousPage()"><i class="fa fa-chevron-left"
            aria-hidden="false"></i> &nbsp;Back</button>
      </span>
    </div>
  </div>

  <div class="ml-2 mr-1 mt-2 mb-2 rounded userForm">

    <div class="row ml-2 mr-2">

    </div>

  </div>
</form>