h3.title {
  font-size: 21px;
  text-align: left !important;
  color: #a0a0a0 !important;
  margin-top: 1rem !important;
  font-weight: 500;
  font-family: "Roboto";

  span {
    color: #ff5a5a;
  }
}

.summary-page a {
  color: #099bb5;
}

.btn-block {
  display: block;
  width: 100%;

  .assign-btn {
    background-color: #099bb5;
    color: #fff;
    margin: 10px 5px 0;
  }

  .action-btn {
    color: #fff;
    border: 1px solid #2a465e;
    background-color: #1e3449;
    margin: 10px 5px 0;
    height: 36px;
    line-height: 1;

    .fa {
      color: #50e3c2;
      line-height: 0.5;
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.action-menu-item {
  height: 35px;
  line-height: 1;
}

.page-content {
  background: #0d1925;
  padding: 10px 15px;
  margin: 20px 0;

  .left-block {
    border-right: 2px solid #4b5965;
    padding: 20px 15px;

    .block-content {
      margin: 10px 0;

      .block-title {
        color: #bdbdbd;
        font-weight: 500;
        font-size: 20px;
        line-height: 1;

        .fa {
          color: #5f5e5c;
          font-size: 22px;
        }

        span {
          margin-left: 7px;
        }

        span.recommendation-text {
          color: #099bb5;
          text-decoration: underline;
        }
      }

      .block-description {
        font-weight: 400;
        font-size: 16px;
        color: #8e8e8e;
        padding: 5px 15px;
        line-height: 1.3em;
      }
    }

    .block-table {
      margin: 30px 0;

      padding: 20px 15px;
      .table {
        tr {
          td {
          }
          td.title-text {
          }
        }
      }
    }
  }

  .data-list {
    border-top: 1px solid #ffff;
    border-bottom: 1px solid #ffff;
    color: #bdbdbd;
    padding: 20px 15px;

    .dataTitle {
      font-weight: bold;
    }
    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .feed-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 18px;
      display: block;
      margin-bottom: 10px;

      .time {
        font-size: 14px;
      }
    }
  }

  .right-block {
  }
}

/*****************************************************************************************/
img.profile-image.img-round {
  width: 45px;
}

button.btn.btn-sm {
  padding: 3px 14px;
}

span.reply {
  color: #bdbdbd;
  font-weight: 550;
  cursor: pointer;
}

textarea.form-control {
  overflow: hidden;
  min-height: 44px !important;
  background: unset;
  border: 0.6px solid #818181;
  border-radius: 6px;
}

.row.user-item {
  padding: inherit;
}

.buttonBg {
  background: $button-bg !important;
  color: $button-color !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #05acd3;
}

.actionDropDown {
  margin-top: -2px;
  border-radius: 0;
  border-top: unset;
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

hr {
  border-bottom: 0.6px solid $hr-border;
  width: 105%;
}

.listedItem {
  background: #202c36;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 4px;
  .threat {
    color: #8e8e8e;
    padding-left: 6rem;
  }
  .threatTitle {
    font-size: 15px;
    padding: initial;
  }
  .threatValue {
    font-size: smaller;
    padding-top: 3px;
  }
}

.comment {
  color: #8e8e8e;
  a {
    padding-right: 3rem;
  }
}

.dtList {
  color: #bdbdbd;
  font-size: medium;
  a {
    text-decoration: underline;
  }
}

.dlList {
  padding-left: 1.5rem;
}

.dotSeperator {
  color: #bdbdbd;
  font-size: large;
}

.fa-caret-right:before {
  color: #5d5d5d;
}

.policyBg {
  background: #0d1a25;
}

.sideButton {
  .btn {
    background-color: unset;
    color: #099bb5;
    border: 1px solid #099bb5;
    border-radius: 4px;
  }
}

.action {
  border-right: 0.6px solid #4b5965;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  .btn {
    padding: 5px 12px;
    border-radius: 3px;
  }
}
