<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <h3 class="title">PV1001 <span>- Multiple acount lockedout detected - PUNCEF101</span></h3>
        </div>
        <div class="col-md-3 btn-block text-right">
            <button class="assign-btn" mat-raised-button>Assign to Me</button>
            <button class="action-btn" mat-button [matMenuTriggerFor]="menu">Action <i class="fa fa-angle-up"></i></button>
            <mat-menu #menu="matMenu">
                <button class="action-menu-item" mat-menu-item>Investigate</button>
                <button class="action-menu-item" mat-menu-item>Accept as Risk</button>
                <button class="action-menu-item" mat-menu-item>Create an Incident</button>
                <button class="action-menu-item" mat-menu-item>Perform Remediaion</button>
            </mat-menu>
        </div>
    </div>
    
</div>

<div class="container-fluid">
    <div class="page-content summary-page">
        <div class="row">
            <div class="col-md-6 left-block">
                <div class="block-content">
                    <div class="block-title"><i class="fa fa-caret-right"></i> <span>Description</span></div>
                    <div class="block-description">
                        In this policy violation, user was trying to access machine which is restricted to access by group policy
                    </div>
                </div>
                <div class="block-content mb-4">
                    <div class="block-title "><i class="fa fa-caret-right"></i> <span class="recommendation-text">Recommendation</span></div>
                </div>

                <div class="data-list mb-4">
                    <div class="row mt-2">
                        <div class="col-11 col-sm-5 col-lg-3 dataTitle">Date Created</div>
                        <b>&nbsp;:&nbsp;</b>
                        <div class="col-sm-6 dataValue">09/05/2019 11:23:00</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-11 col-sm-5 col-lg-3 dataTitle">Priority</div>
                        <b>&nbsp;:&nbsp;</b>
                        <div class="col-sm-6 dataValue">High</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-11 col-sm-5 col-lg-3 dataTitle">Affected Entity	</div>
                        <b>&nbsp;:&nbsp;</b>
                        <div class="col-sm-6 dataValue"><a href="#">PUN1020</a></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-11 col-sm-5 col-lg-3 dataTitle">Number Of Indicators</div>
                        <b>&nbsp;:&nbsp;</b>
                        <div class="col-sm-6 dataValue">5</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-11 col-sm-5 col-lg-3 dataTitle">Status</div>
                        <b>&nbsp;:&nbsp;</b>
                        <div class="col-sm-6 dataValue"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-11 col-sm-5 col-lg-3 dataTitle">Case Owner</div>
                        <b>&nbsp;:&nbsp;</b>
                        <div class="col-sm-6 dataValue"></div>
                    </div>
                </div>

                <div class="block-content mt-2">
                    <div class="block-title "><i class="fa fa-caret-right"></i> <span>News Feed</span></div>
                    <div class="block-description">
                        <ul class="feed-list">
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' />
                                <span class="news-title">Denis created this incident <a href="#">help</a></span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' />
                                <span class="news-title">Denis created  this incident <a href="#">help</a></span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' />
                                <span class="news-title">Bill changed status on incident  created  this <a href="#">Bee Lee Test</a>  to be closed</span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' />
                                <span class="news-title">Denis created this incident <a href="#">help</a></span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' />
                                <span class="news-title">Denis created this incident <a href="#">help</a></span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' />
                                <span class="news-title">Bill changed status on incident  created  this <a href="#">Bee Lee Test</a>  to be closed</span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' />
                                <span class="news-title">Denis created this incident <a href="#">help</a></span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' />
                                <span class="news-title">Denis created this incident <a href="#">help</a></span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' />
                                <span class="news-title">Bill changed status on incident  created  this <a href="#">Bee Lee Test</a>  to be closed</span>
                            </li>
                        </ul>
                        <hr class="mt-5"/>
                    </div>
                    
                </div>

                <div class="block-content">
                    <div class="block-title "><i class="fa fa-caret-right"></i> <span>Attachments</span></div>
                    <div class="block-description mt-3 attachments">
                        <a href="#">file name 219284</a>&nbsp;|&nbsp;<a href="#">file name 219284</a>

                        <div class="attachBox">
                            <div class="row align-items-center">
                                <div class="col-lg-9 pr-0">
                                    <div class="file-drag-wrap">
                                        <img src="../../../../../assets/images/upload.png" alt="Upload Icon" class="mr-3" />
                                        Drop files here to upload &nbsp;&nbsp;  OR &nbsp;&nbsp;  Browse from your computer
                                    </div>
                                </div>
                                <div class="col-lg-3 text-right mt-3 mt-lg-0">
                                    <input type="file" class="file-input-custom">
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 right-block pb-4">
                <div class="block-content mb-3">
                    <div class="listedItem">
                        <div class="block-title"><span>Threat Categorisation</span></div>
                        <div class="block-description mt-3">
                            <div class="row mt-2 threatRow" *ngFor="let threatCategory of threatCategories">
                                <div class="col-11 col-sm-5 col-lg-3 threatTitle">
                                    {{ threatCategory.title }}
                                </div>
                                <b>&nbsp;:&nbsp;</b>
                                <div class="col-sm-6 threatValue">
                                    {{ threatCategory.value }}
                                </div>
                            </div>
                        </div>
                    </div>                        
                </div>

                <div class="block-content mb-5">
                    <div class="killChain">
                        <div class="block-title"><span>Kill Chain</span></div>
                        <img src="../../../../../assets/images/kill-chain-img.png" alt="Kill Chain Image" class="mt-5 mb-3 img-fluid" />
                    </div>
                </div>

                <form [formGroup]="commentFormGroup" class="row user-item pt-2">
                    <div class="col-2 col-sm-1 col-md-2 col-lg-1 pl-0">
                        <img class="profile-image img-round" src="./../../../../../assets/images/user.png">
                    </div>
                    <div class="col-sm-11 col-md-10 col-lg-11 mt-2 mt-sm-0">
                        <div class="form-group input-group">
                            <textarea class="form-control rounded" formControlName="commentValue" id="commentValue"
                                placeholder="Enter your commnets here..." matInput cdkTextareaAutosize #autosize
                                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="4"> </textarea>
                        </div>
                    </div>
                    <div class="col-12 text-right">
                        <button class="btn btn-sm"
                            [disabled]="commentFormGroup.invalid || commentValue.value.trim()==''" type="submit"
                            (click)="submitComment()">
                            &emsp;Post&emsp;
                        </button>
                    </div>
                </form>

                <div class="row user-item mt-3" *ngFor="let comment of policyComments">
                    <div class="ccol-1 col-sm-2 col-md-2 col-lg-1 pl-0">
                        <img class="profile-image img-round" src="./../../../../../assets/images/user.png">
                    </div>
                    <div class="col-sm-10 col-md-9 col-lg-10 ml-md-3">
                        <div class="row mt-2 mb-1">
                            <div class="col-md-12 comment user-info"><a href="#">{{comment.userId}}</a> &emsp;&emsp;
                                {{comment.timestamp | timeAgo}}
                            </div>
                        </div>
                        <div class="row comment">
                            <span>{{comment.content}}</span>
                        </div>
                        <div class="row mt-1"><span class="reply" (click)="comment.reply= !comment.reply">Reply</span>
                        </div>
                        <div class="row mt-2" *ngIf="comment.reply">
                            <div class="col-md-10">
                                <textarea type="text" autosize class="form-control" id="comment"
                                    [(ngModel)]="comment.content" required name="content"
                                    placeholder="Enter your commnets here..."></textarea>
                            </div>
                            <div class="col-md-2 mt-2">
                                <button class="btn btn-sm" [disabled]="!commentForm.form.valid" type="submit" sty>
                                    &emsp;Post&emsp;
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Right Block -->
        </div>
    </div>
</div>