<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <h3 class="title">PV1001 <span>- Multiple acount lockedout detected - PUNCEF101</span></h3>
        </div>
        <div class="col-md-3 btn-block text-right">
            <button class="assign-btn" mat-raised-button>Assign to Me</button>
            <button class="action-btn" mat-button [matMenuTriggerFor]="menu">Action <i class="fa fa-angle-up"></i></button>
            <mat-menu #menu="matMenu">
                <button class="action-menu-item" mat-menu-item>Investigate</button>
                <button class="action-menu-item" mat-menu-item>Create an Incident</button>
                <button class="action-menu-item" mat-menu-item>Perform Remedidation</button>
            </mat-menu>
        </div>
    </div>
    
</div>

<div class="container-fluid">
    <div class="page-content summary-page">
        <div class="row">
            <div class="col-md-6 left-block">
                <div class="block-content">
                    <div class="block-title"><i class="fa fa-caret-right"></i> <span>Description</span></div>
                    <div class="block-description">
                        In this policy violation, user was trying to access machine which is restricted to access by group policy
                    </div>
                </div>
                <div class="block-content mb-4">
                    <div class="block-title "><i class="fa fa-caret-right"></i> <span class="recommendation-text"><a href="#">Recommendation</a></span></div>
                </div>

                <div class="data-list mb-4">
                    <div class="row mt-2">
                        <div class="col-11 col-sm-5 col-xl-4 dataTitle">Policy Violation Date</div>
                        <b>&nbsp;:&nbsp;</b>
                        <div class="col-sm-6 dataValue">09/05/2019 11:23:00</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-11 col-sm-5 col-xl-4 dataTitle">Priority</div>
                        <b>&nbsp;:&nbsp;</b>
                        <div class="col-sm-6 dataValue">
                            <mat-form-field  class="dropdown-priority">
                                <mat-select [(ngModel)]="priority" (ngModelChange)="policyDataChange($event)" name="priority" placeholder="Select Priority">
                                    <mat-option value="High">High</mat-option>
                                    <mat-option value="Medium">Medium</mat-option>
                                    <mat-option value="Low">Low</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-11 col-sm-5 col-xl-4 dataTitle">Affected Entity	</div>
                        <b>&nbsp;:&nbsp;</b>
                        <div class="col-sm-6 dataValue"><a href="#">PUN1020</a></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-11 col-sm-5 col-xl-4 dataTitle">Indicators of Attack</div>
                        <b>&nbsp;:&nbsp;</b>
                        <div class="col-sm-6 dataValue">5</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-11 col-sm-5 col-xl-4 dataTitle">Status</div>
                        <b>&nbsp;:&nbsp;</b>
                        <div class="col-sm-6 dataValue">
                            <mat-form-field  class="dropdown-priority">
                                <mat-select [(ngModel)]="status" (ngModelChange)="policyDataChange($event)" name="status" placeholder="Select Status">
                                    <mat-option value="Unreviewed">Unreviewed</mat-option>
                                    <mat-option value="InProgress">In Progress</mat-option>
                                    <mat-option value="Reviewed">Reviewed</mat-option>
                               </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-11 col-sm-5 col-xl-4 dataTitle">Reviewer</div>
                        <b>&nbsp;:&nbsp;</b>
                        <div class="col-sm-6 dataValue">
                            
                            <mat-form-field class="case-owner-box">
                                <input type="text" placeholder="Reviewer" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"  (optionSelected)='policyDataChange($event.option.value)'>
                                    <mat-option class="case-owner-text" *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-11 col-sm-5 col-xl-4 dataTitle">&nbsp;</div>
                        <div class="col-sm-6 dataValue">
                            <button class="update-btn" *ngIf="isUpdate" mat-raised-button (click)="updatePolicy()">Update</button>
                        </div>
                    </div>
                </div>

                <div class="block-content mt-2">
                    <div class="block-title "><i class="fa fa-caret-right"></i> <span>News Feed</span></div>
                    <div class="block-description">
                        <ng-scrollbar trackY="true" barClass="custom-scroll">
                        <ul class="feed-list m-h-400">
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' width="30" />
                                <span class="news-title">Denis created this incident <a href="#">help</a></span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png'  width="30" />
                                <span class="news-title">Denis created  this incident <a href="#">help</a></span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png'  width="30" />
                                <span class="news-title">Bill changed status on incident  created  this <a href="#">Bee Lee Test</a>  to be closed</span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' width="30" />
                                <span class="news-title">Denis created this incident <a href="#">help</a></span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' width="30" />
                                <span class="news-title">Denis created this incident <a href="#">help</a></span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' width="30" />
                                <span class="news-title">Bill changed status on incident  created  this <a href="#">Bee Lee Test</a>  to be closed</span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' width="30" />
                                <span class="news-title">Denis created this incident <a href="#">help</a></span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' width="30" />
                                <span class="news-title">Denis created this incident <a href="#">help</a></span>
                            </li>
                            <li>
                                <span class="time">2 days ago</span>
                                <img src='../../../../../assets/images/plus.png' width="30" />
                                <span class="news-title">Bill changed status on incident  created  this <a href="#">Bee Lee Test</a>  to be closed</span>
                            </li>
                        </ul>
                        </ng-scrollbar>
                    </div>
                    
                </div>

            </div>

            <div class="col-md-6 right-block pb-4">
                <div class="block-content mb-3">
                    <div class="listedItem">
                        <div class="block-title"><span>Threat Categorisation</span></div>
                        <div class="block-description mt-3">
                            <div class="row mt-2 threatRow" *ngFor="let threatCategory of threatCategories">
                                <div class="col-11 col-sm-5 col-lg-3 threatTitle">
                                    {{ threatCategory.title }}
                                </div>
                                <b>&nbsp;:&nbsp;</b>
                                <div class="col-sm-6 threatValue">
                                    {{ threatCategory.value }}
                                </div>
                            </div>
                        </div>
                    </div>                        
                </div>

                <div class="block-content mb-4">
                    <div class="block-title "><i class="fa fa-caret-right"></i> <span>Attachments</span></div>
                    <div class="block-description mt-3 attachments">
                        <a href="#">file name 219284</a>&nbsp;|&nbsp;<a href="#">file name 219284</a>

                        <div class="attachBox text-center">
                            <input type="file" class="custom-upload">
                            <img src="../../../../../assets/images/upload.png" alt="Upload Icon" class="mb-3"/><br/>
                            Drop files here to upload &nbsp;&nbsp;  OR &nbsp;&nbsp;  Browse from your computer<br/>
                            <button mat-stroked-button  class="custom-upload-btn mt-3">Browse</button>                     
                        </div>
                    </div>
                </div>

                <form [formGroup]="commentFormGroup" class="row user-item pt-2">
                    <div class="col-2 col-sm-1 col-md-2 col-lg-1 pl-0">
                        <img class="profile-image img-round" src="./../../../../../assets/images/user.png">
                    </div>
                    <div class="col-sm-11 col-md-10 col-lg-11 mt-2 mt-sm-0">
                        <div class="form-group input-group">
                            <textarea class="form-control rounded" formControlName="commentValue" id="commentValue"
                                placeholder="Enter your commnets here..." matInput cdkTextareaAutosize #autosize
                                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="4"> </textarea>
                        </div>
                    </div>
                    <div class="col-12 text-right">
                        <button color="primary" class="btn-main" mat-raised-button
                            [disabled]="commentFormGroup.invalid || commentValue.value.trim()==''" type="submit"
                            (click)="submitComment()">Post</button>
                    </div>
                </form>

                <div class="comment-wrap">
                    
                    <ng-scrollbar trackY="true" barClass="custom-scroll">
                    <div class="user-item mt-3" *ngFor="let comment of policyComments">                        
                        <div class="profile-pic">
                            <img class="profile-image img-round" src="./../../../../../assets/images/user.png">
                        </div>
                        <div class="comment-content">
                            <div class="row mb-1">
                                <div class="col-md-12 comment user-info"><a href="#">{{comment.userId}}</a> &emsp;&emsp;
                                    {{comment.timestamp | timeAgo}}
                                </div>
                            </div>
                            <div class="row comment">
                                <span>{{comment.content}}</span>
                            </div>
                            <div class="row mt-1 comment-action"><span class="reply" (click)="comment.reply= !comment.reply">Reply</span>
                               &nbsp;|&nbsp; <span class="delete" (click)="comment.delete= !comment.delete">Delete</span>
                            </div>
                            <div class="row mt-2" *ngIf="comment.reply">
                                <div class="col-md-10">
                                    <textarea type="text" autosize class="form-control" id="comment"
                                        [(ngModel)]="comment.content" required name="content"
                                        placeholder="Enter your commnets here..."></textarea>
                                </div>
                                <div class="col-md-2 mt-2">
                                    <button class="btn btn-sm" [disabled]="!commentForm.form.valid" type="submit" sty>
                                        &emsp;Post&emsp;
                                    </button>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    </ng-scrollbar>
                </div>
            </div><!-- End Right Block -->
        </div>
    </div>

    <div class="page-footer">
        <div class="row align-items-center">        
            <div class="col-md-3 page-viewer">
                <img src="../../../../../assets/images/circle.png" />
                <div class="viewer-info">
                    <span class="view-count">52</span>
                    viewing this page now
                </div>
            </div>
            <div class="col-md-4">
                <div class="ml-md-5">
                    <h3>Tagged People</h3>
                    <p>#chetanp, #abhishek, #manish</p>
                </div>
            </div>

            <div class="col-md-5">
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
            </div>           
        </div>
    </div>
</div>
