<div class="container-fluid">
    <div class="row mt-2 title-main ml-0">

        <div *ngIf="path == 'policyViolation'"><span class="h5">Policy Violation</span></div>
        <div *ngIf="path == 'caseManagement'"><span class="h5">Incident Management</span></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row ml-0 mr-0 mt-4 mb-3">
        <div class="tab-content">
            <div *ngIf="path == 'policyViolation'" role="tabpanel">
                <div class="card">
                    <div class="card-header policy-filter-row row rightPaddingInitial">
                        <div class="col-md-12">
                            <div class="col-md-6 row rightPaddingInitial">
                                <div class="col-md-4 leftPaddingInitial">
                                    <div class="input-group">
                                        <input type="text" class="form-control" pInputText
                                            placeholder="Search By Keywords"
                                            (input)="policy.filterGlobal($event.target.value,'contains')">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2 rightPaddingInitial m-auto">
                                    <div class="highcheckbox">
                                        <p-checkbox value="High" label="High" (onChange)="selectPolicyClick($event)">
                                        </p-checkbox>
                                    </div>
                                </div>

                                <div class="col-md-5 rightPaddingInitial text-center">
                                    <div class="input-group">
                                        <p-calendar [(ngModel)]="policyRangeDates" placeholder="Date Range"
                                            selectionMode="range" [readonlyInput]="true"></p-calendar>
                                        <div class="input-group-append" (click)="setDateRange()">
                                            <span class="input-group-text">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 row centerAlign m-auto rightPaddingInitial text-center">
                                <div class="col-md-3 rightPaddingInitial">
                                    <span class="topStages Total">{{totalItem}}</span>
                                    <span class="labels">&nbsp;&nbsp;Total</span>
                                </div>
                                <div class="col-md-3 rightPaddingInitial">
                                    <span class="topStages High">{{highItem}}</span>
                                    <span class="labels">&nbsp;&nbsp;High</span>
                                </div>
                                <div class="col-md-3 rightPaddingInitial">
                                    <span class="topStages Medium">{{mediumItem}}</span>
                                    <span class="labels">&nbsp;&nbsp;Medium</span>
                                </div>
                                <div class="col-md-3 rightPaddingInitial">
                                    <span class="topStages Low">{{lowItem}}</span>
                                    <span class="labels">&nbsp;&nbsp;Low</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body p-0">
                        <div class="media">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-2 filterRow policy-violation-date-table">
                                        <p-table #day [paginator]="true" [rows]="10" class="policy sortingDate"
                                            [value]="myDays">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th style="width:5%"></th>
                                                    <th style="text-align: center;">Day</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template class="policy" pTemplate="body" let-rowData let-myDay
                                                let-rowIndex="rowIndex" width="100%">
                                                <tr [pSelectableRow]="rowData">
                                                    <td (click)="daySelected(myDay,rowIndex)" class="rowdata"></td>

                                                    <td (click)="daySelected(myDay,rowIndex)" class="day"
                                                        [ngStyle]="{'background-color':selectedIndex === rowIndex ? '#34434E' : '#041421' }">
                                                        {{myDay | date : 'EEEE dd/MM/yyyy'}}
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                    <mat-spinner *ngIf="fetchingPolicyViolationsInProgress" style="margin: 15% 35%;">
                                    </mat-spinner>
                                    <div class="col-md-10"
                                        style="padding: inherit; text-align: center; margin-top: 10%; font-size: 20px;"
                                        *ngIf="policyViolations.length == 0 && !fetchingPolicyViolationsInProgress">
                                        <p>No Policy Violations found</p>
                                    </div>

                                    <div class="col-md-10" style="padding: inherit;background:rgb(52, 67, 78);"
                                        *ngIf="policyViolations.length > 0">
                                        <div class="media-body policy-violation-table">
                                            <p-table #policy class="policy" [value]="policyViolations"
                                                [(selection)]="selectedPolicyItems"
                                                [globalFilterFields]="['generationTime','policyName','entity','indicatorsOfAttack','status','priority']"
                                                sortMode="multiple" [paginator]="true" [rows]="10">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <!--  <th style="width:10%" [pSortableColumn]="'violationId'">PV ID
                                                            <p-sortIcon [field]="'violationId'"></p-sortIcon></th>-->
                                                        <th style="width:10%" [pSortableColumn]="'generationTime'">Time
                                                            <p-sortIcon [field]="'generationTime'"></p-sortIcon>
                                                        </th>
                                                        <th style="width:20%" [pSortableColumn]="'policyName'">Policy
                                                            Violation Name
                                                            <p-sortIcon [field]="'policyName'"></p-sortIcon>
                                                        </th>
                                                        <th style="width:15%" [pSortableColumn]="'entity'">Entity
                                                            <p-sortIcon [field]="'entity'"></p-sortIcon>
                                                        </th>
                                                        <th style="width:20%" [pSortableColumn]="'indicatorsOfAttack'">
                                                            Indicators of attack
                                                            <p-sortIcon [field]="'indicatorsOfAttack'"></p-sortIcon>
                                                        </th>
                                                        <th style="width:12%" [pSortableColumn]="'status'">Status
                                                            <p-sortIcon [field]="'status'"></p-sortIcon>
                                                        </th>
                                                        <th style="width:12%" [pSortableColumn]="'priority'">Priority
                                                            <p-sortIcon [field]="'priority'"></p-sortIcon>
                                                        </th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template class="policy" pTemplate="body" let-rowData let-myPolicy
                                                    let-rowIndex="rowIndex"
                                                    style="margin-left:5px;margin-right:5px;padding:5px 5px;">
                                                    <!--   <tr [pSelectableRow]="rowData"
                                                        (click)="goToPolicyViolationSummaryPage()">-->
                                                    <tr [pSelectableRow]="rowData"
                                                        [routerLink]="['/policyViolationSummary', myPolicy.violationId]">
                                                        <td>{{myPolicy.generationTime | date : 'hh:mm:ss'}} Hrs</td>
                                                        <td style="color:#099bb5;">{{myPolicy.policyName}}</td>
                                                        <td>{{myPolicy.entity | uppercase}}</td>
                                                        <td>{{myPolicy.indicatorsOfAttack}}</td>
                                                        <td>{{myPolicy.status}}</td>
                                                        <td>
                                                            <div class="{{myPolicy.priority}} tableStages"></div>
                                                            <span class="priority">{{myPolicy.priority}}</span>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="path == 'caseManagement'" role="tabpanel">
                <div class="col-md-12 mb-3">
                    <div class="row incident-filter-row">
                        <div class="mr-4 mb-4">
                            <p-dropdown [options]="shows" placeholder="Show All" optionLabel="name"></p-dropdown>
                        </div>

                        <div class="mr-4 mb-4 width-250">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search by Keyword"
                                    (keyup)="incident.filterGlobal($event.target.value, 'contains')">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="mr-4 mb-4">
                            <div class="input-group">
                                <p-calendar [(ngModel)]="incidentRangeDates" placeholder="Date Range"
                                    selectionMode="range" [readonlyInput]="true"></p-calendar>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="mr-4 mb-4">
                            <p-dropdown [options]="priority" placeholder="Priority" optionLabel="name"
                                (onChange)="incident.filter($event.value.value, 'priority','contains')"></p-dropdown>
                        </div>

                        <div class="mr-4 mb-4">
                            <p-dropdown [options]="status" placeholder="Status" optionLabel="name"
                                (onChange)="incident.filter($event.value.value, 'status','contains')"></p-dropdown>
                        </div>

                        <div class=" mb-4">
                            <p-dropdown [options]="assignee" placeholder="Case Owner" optionLabel="name"
                                (onChange)="incident.filter($event.value.value, 'assignee','contains')"></p-dropdown>
                        </div>


                        <div class="mb-4 mt-2">
                            <span class="topStages Total">{{incident.totalRecords }}</span>
                            <span class="labels">&nbsp;&nbsp;Record found</span>
                        </div>
                    </div>
                </div>

                <div class="row ml-auto mr-auto policy-incident-table">
                    <p-table #incident
                        [globalFilterFields]="['id', 'created', 'name', 'priority', 'status', 'assignee', 'entity']"
                        [resizableColumns]="true" [value]="incidents" sortMode="multiple" [(selection)]="selectedItems"
                        [paginator]="true" [rows]="12">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3em;background:#000000">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>

                                <th [pSortableColumn]="'incId'">Incident ID <p-sortIcon [field]="'incId'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'incidentCreatedTime'">CREATED <p-sortIcon
                                        [field]="'incidentCreatedTime'"></p-sortIcon>
                                </th>
                                <th style="width:33em;" [pSortableColumn]="'incidentName'">Incident Name <p-sortIcon
                                        [field]="'incidentName'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'entity'">Entity <p-sortIcon [field]="'entity'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'priority'">PRIORITY <p-sortIcon [field]="'priority'">
                                    </p-sortIcon>
                                </th>
                                <th style="width:12em;" [pSortableColumn]="'status'">STATUS <p-sortIcon
                                        [field]="'status'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'ownerName'">Case Owner <p-sortIcon [field]="'ownerName'">
                                    </p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-incident>
                            <tr [pSelectableRow]="rowData" [routerLink]="['/incidentSummary', incident.pvID]">
                                <td>
                                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                </td>
                                <td>INC {{incident.incId}}</td>
                                <td>{{incident.incidentCreatedTime | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                                <td style="color:#099bb5;">{{incident.incidentName}}</td>
                                <td>{{incident.entity}}</td>
                                <td style="padding-left: 40px">
                                    <div class="{{incident.entity}} tableStages"></div>
                                    <span class="priority1">{{incident.priority}}</span>
                                </td>
                                <td>{{incident.status}}</td>
                                <td>{{incident.ownerName}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>



















<!-- <ngb-tabset type="pills">
  <ngb-tab title="All Case">
    <ng-template ngbTabContent>
        <div class="case-management-container">
            <div class="risky-users-list">
                <div class="row header-row">
                    <div class="col-2 col-sm-2 col-md-2 p-l-md p-t-sm">Case No.</div>
                    <div class="col-2 col-sm-2 col-md-2 p-sm">User Name</div>
                    <div class="col-2 col-sm-2 col-md-2 p-sm">Rule Id</div>
                    <div class="col-2 col-sm-2 col-md-2 p-sm">Rule Description</div>
                    <div class="col-2 col-sm-2 col-md-2 p-sm">Violation Occurrence</div>
                    <div class="col-2 col-sm-2 col-md-2 p-sm">Action</div>
                </div>
                <div class="row data-row" *ngFor="let user of allUsers; let i = index">
                    <div class="col-2 col-sm-2 col-md-2 p-l-md p-t-sm">{{user.caseid}}</div>
                    <div class="col-2 col-sm-2 col-md-2 p-sm">
                        <a *ngIf="user.userid" href="javascript:void(0);">{{user.userid}}</a>
                        <a *ngIf="!user.userid" href="javascript:void(0);">{{user.sourceAddress}}</a>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 p-l-md p-t-sm">{{user.ruleid}}</div>
                    <div class="col-2 col-sm-2 col-md-2 p-l-md p-t-sm">{{user.ruledesc}}</div>
                    <div class="col-2 col-sm-2 col-md-2 p-l-md p-t-sm">{{user.violationoccurence}}</div>
                    <div class="col-2 col-sm-2 col-md-2 p-sm text-center">
                          <div ngbDropdown class="d-inline-block">
                            <button class="btn" id="action" ngbDropdownToggle>Action</button>
                            <div ngbDropdownMenu aria-labelledby="action">
                                <button class="dropdown-item" (click)="onActionClick('Assign', user)">Assign</button>
                                <button class="dropdown-item" (click)="onActionClick('Block', user)">Block</button>
                                <button class="dropdown-item" (click)="onActionClick('Close as Risk Accepted', user)">Close as Risk Accepted</button>
                                <button class="dropdown-item" (click)="onActionClick('Close the Case', user)">Close the Case</button>
                          </div>
                          </div>
                        </div>
                </div>
            </div>
            <div class="load-more-link" *ngIf="recordsReturned < totalRecords">
                <a href="javascript:void(0);" (click)="loadMoreUsers()">Load More</a>
            </div>
          </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Process Case">
        <ng-template ngbTabContent>
            <div class="case-management-container">
                <div class="risky-users-list">
                    <div class="row header-row">
                        <div class="col-2 col-sm-2 col-md-2 p-l-md p-t-sm">{{'global.sno' | translate}}</div>
                        <div class="col-6 col-sm-6 col-md-6 p-sm">{{'global.userInfo' | translate}}</div>
                        <div class="col-2 col-sm-2 col-md-2 p-sm">{{'global.bytes' | translate}}</div>
                        <div class="col-2 col-sm-2 col-md-2 p-sm">Action</div>
                    </div>
                    <div class="row data-row" *ngFor="let user of allUsers; let i = index">
                        <div class="col-2 col-sm-2 col-md-2 p-l-md p-t-sm">{{ i + 1}}</div>
                        <div class="col-6 col-sm-6 col-md-6 p-sm">
                            <a *ngIf="user.userid" href="javascript:void(0);"></a>
                            <a *ngIf="!user.userid" href="javascript:void(0);"></a>
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 p-sm"></div>
                        <div class="col-2 col-sm-2 col-md-2 p-sm text-center">
                              <div ngbDropdown class="d-inline-block">
                                <button class="btn" id="action" ngbDropdownToggle>Action</button>
                                <div ngbDropdownMenu aria-labelledby="action">
                                  <button class="dropdown-item" (click)="onActionClick('Assign', user)">Assign</button>
                                  <button class="dropdown-item" (click)="onActionClick('Block', user)">Block</button>
                                  <button class="dropdown-item" (click)="onActionClick('Close as Risk Accepted', user)">Close as Risk Accepted</button>
                                  <button class="dropdown-item" (click)="onActionClick('Close the Case', user)">Close the Case</button>
                                </div>
                              </div>
                            </div>
                    </div>
                </div>
                <div class="load-more-link" *ngIf="recordsReturned < totalRecords">
                    <a href="javascript:void(0);" (click)="loadMoreUsers()">Load More</a>
                </div>
              </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Completed Case">
            <ng-template ngbTabContent>
                <div class="case-management-container">
                    <div class="risky-users-list">
                        <div class="row header-row">
                            <div class="col-2 col-sm-2 col-md-2 p-l-md p-t-sm">{{'global.sno' | translate}}</div>
                            <div class="col-6 col-sm-6 col-md-6 p-sm">{{'global.userInfo' | translate}}</div>
                            <div class="col-2 col-sm-2 col-md-2 p-sm">{{'global.bytes' | translate}}</div>
                            <div class="col-2 col-sm-2 col-md-2 p-sm">Action</div>
                        </div>
                        <div class="row data-row" *ngFor="let user of allUsers; let i = index">
                            <div class="col-2 col-sm-2 col-md-2 p-l-md p-t-sm">{{ i + 1}}</div>
                            <div class="col-6 col-sm-6 col-md-6 p-sm">
                                <a *ngIf="user.userid" href="javascript:void(0);">{{user.userid}}</a>
                                <a *ngIf="!user.userid" href="javascript:void(0);">{{user.sourceAddress}}</a>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 p-sm">{{user.riskscore}}</div>
                            <div class="col-2 col-sm-2 col-md-2 p-sm text-center">
                                  <div ngbDropdown class="d-inline-block">
                                    <button class="btn" id="action" ngbDropdownToggle>Action</button>
                                    <div ngbDropdownMenu aria-labelledby="action">
                                        <button class="dropdown-item" (click)="onActionClick('Assign', user)">Assign</button>
                                        <button class="dropdown-item" (click)="onActionClick('Block', user)">Block</button>
                                        <button class="dropdown-item" (click)="onActionClick('Close as Risk Accepted', user)">Close as Risk Accepted</button>
                                        <button class="dropdown-item" (click)="onActionClick('Close the Case', user)">Close the Case</button>
                                          </div>
                                  </div>
                                </div>
                        </div>
                    </div>
                    <div class="load-more-link" *ngIf="recordsReturned < totalRecords">
                        <a href="javascript:void(0);" (click)="loadMoreUsers()">Load More</a>
                    </div>
                  </div>
              </ng-template>
            </ngb-tab>
    </ngb-tabset> -->