<div *ngIf="componentType === 'riskByDept'">
    <div id="container"></div>
</div>
<div *ngIf="componentType === 'riskByLocation'" class="header row">
    <div class="col-11 col-md-11 col-sm-11 title">
        Risk By Location
    </div>
    <div class="col-1 col-md-1 col-sm-1 settings-icon">
        <span class="ion ion-md-settings"></span>
    </div>
</div>
<div *ngIf="componentType === 'riskByLocation'">
    <div id="globeMap"></div>
</div>
<div *ngIf="componentType === 'riskByTitle'" class="base-chart">
    <ng-container>
        <div id="riskByTitleContainer"></div>
    </ng-container>
</div>
