<div *ngIf="componentType === 'pie-chart'" class="header row">
    <div class="col-11 col-md-11 col-sm-11 title">
        Risks By Department
    </div>
    <div class="col-1 col-md-1 col-sm-1 settings-icon">
        <span class="ion ion-md-settings"></span>
    </div>
</div>
<div *ngIf="componentType === 'pie-chart'">
    <div>
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
            </canvas>
    </div>
</div>
<div *ngIf="componentType === 'gl-map'" class="header row">
    <div class="col-11 col-md-11 col-sm-11 title">
        Risks By Location
    </div>
    <div class="col-1 col-md-1 col-sm-1 settings-icon">
        <span class="ion ion-md-settings"></span>
    </div>
</div>
<div *ngIf="componentType === 'gl-map'">
    <div class="globe" id="chartGlobeDiv"></div>
</div>
<div *ngIf="componentType === 'base-chart'" class="header row">
    <div class="col-11 col-md-11 col-sm-11 title">
        Risks By Title
    </div>
    <div class="col-1 col-md-1 col-sm-1 settings-icon">
        <span class="ion ion-md-settings"></span>
    </div>
</div>

<div *ngIf="componentType === 'base-chart'" class="base-chart">
    <ng-container>
        <div>
            <canvas baseChart [datasets]="barChartData" [options]="barChartOptions" [labels]="barChartLabels" [chartType]="barChartType">
            </canvas>
        </div>
    </ng-container>
</div>