<!-- Risky Entities -->
<div *ngIf="componentType === 'riskyUser'" class="header row">
    <div class="col-md-12">
        <span class="col-md-8 initialPadding">Top Risky Entities</span>
        <span ngbDropdown placement="bottom-right" class="col-md-4 float-sm-right">
            <button class="btn btn-sm buttonBg" id="dropdownBasic1" ngbDropdownToggle>
                {{selectRiskyType}}
            </button>
            <div class="buttonBg actionDropDown" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="SelectedRiskyType('user')" class="buttonBg">USER</button>
                <button ngbDropdownItem (click)="SelectedRiskyType('ip address')" class="buttonBg">IP ADDRESS</button>
                <button ngbDropdownItem (click)="SelectedRiskyType('host')" class="buttonBg">HOST</button>
            </div>
        </span>
    </div>

    <!-- <div class="col-7 col-md-7 heading">
        Top Risky Entities
    </div>
    <div class="col-md-5">
        <p-dropdown [options]="assignee" placeholder="USER" optionLabel="name" dropdownIcon="pi pi-caret-down"
            (onChange)="SelectedRiskyType($event)"></p-dropdown>
    </div> -->
    <!-- <div class="col-2 col-md-2 col-sm-2 settings-icon">
        <a routerLink="/allRiskyUsers">{{'global.viewAll' | translate}}</a> -- comment
        <span class="ion ion-md-settings"></span>
    </div> -->
</div>
<div *ngIf="componentType === 'riskyUser'" class="top-riksy-users mt-2">
    <ng-container *ngFor="let selectedRisky of selectedRiskies;let i=index;">
        <div class="row user-item" [ngStyle]="{'padding': riskyTypeSelected=='user'?'0.8rem':'0.9rem'}">
            <div *ngIf="riskyTypeSelected=='user'" class="col-2 col-sm-2 col-md-2 pl-2">
                <img class="profile-image rounded-circle"
                    src='./../../../../../assets/images/users/{{selectedRisky.value}}.jpg' />
            </div>
            <div class="centerAlign"
                [ngClass]="{'col-md-8': riskyTypeSelected=='user', 'col-md-10':riskyTypeSelected!='user'}">
                <a *ngIf="selectedRisky.value" class="cursorPointer"
                    (click)="riskyUserTimeline(selectedRisky.value)">{{selectedRisky.value}}</a>
                <!-- <a *ngIf="!user.userid" [routerLink]="['/riskyUser', selectedRisky.sourceAddress]">{{selectedRisky.sourceAddress}}</a> -->
            </div>
            <div class="col-2 col-sm-2 col-md-2 risk-count centerAlign">
                <p></p>
                <span [ngStyle]="{'color':getRiskScoreColor(selectedRisky.score)}">
                    {{selectedRisky.score}}</span>
            </div>
        </div>
    </ng-container>
    <!--<div class="text-right pull-right view-all-link">
            <a routerLink="/pages/details/riskyUser/all">View All</a>
        </div>-->
</div>

<!-- Top Threats -->
<div *ngIf="componentType === 'topThreats'" class="header">
    <div class="col-md-12">
        <span>{{'global.topThreats' | translate}}</span>
        <span class="float-right">Entities</span>
    </div>
    <!-- <div class="col-9 col-md-9 centerAlign">
        {{'global.topViolations' | translate}}
    </div>
    <div class="col-3 col-md-3 centerAlign high">
        <a href="#">{{'global.viewAll' | translate}}</a>
        <span class="">Entities</span>
    </div> -->
</div>
<div *ngIf="componentType === 'topThreats'" class="top-threats ">
    <ng-container *ngFor="let threat of threatsList">
        <div class="threat-item row">
            <div class="col-10 col-md-10 threat-details centerAlign">
                <a routerLink="/pages/details/threats">{{threat.title}}</a>
                <!--<span>{{threat.description}}</span>-->
            </div>
            <div class="col-2 col-md-2 risk-count centerAlign">
                <span [ngStyle]="{'color':'crimson'}">{{threat.count}}</span>
                <!-- <span class=" risk-type ">Entities</span> -->
            </div>
        </div>
    </ng-container>
</div>

<div *ngIf="componentType==='topViolations'" class="header">
    <div class="col-md-12">
        <span>TOP THREAT VECTORS</span>
        <span class="float-right">Violations</span>
    </div>
    <!-- <div class="col-9 col-md-9 heading ">
        {{'global.topThreats' | translate}}
    </div>
    <div class="col-3 col-md-3 centerAlign high">
        <a href="# ">{{'global.viewAll' | translate}}</a>
        <span class="">Violations</span>
    </div> -->
</div>
<div *ngIf="componentType==='topViolations' " class="top-violations  mt-3">
    <ng-container *ngFor="let threat of threatVectors">
        <div class="threat-item row pt-1 pb-2" *ngIf="threat.id ">
            <!--<div class="col-sm-3 col-md-3 time-details ">-->
            <!--<span class="duration ">{{threat.duration}}</span>-->
            <!--<span>{{threat.date}}</span>-->
            <!--<span>{{threat.time}}</span>-->
            <!--</div>-->
            <div class="col-9 col-md-9 centerAlign p-3">
                <a routerLink="/pages/details/violation ">{{threat.id}} </a>
                <!--<span>{{threat.description}}</span>-->
            </div>
            <div class="col-3 col-md-3 risk-count centerAlign" style="place-content: center;">
                <span [ngStyle]="{'color':'crimson'}">{{threat.count}}</span>
                <!-- <span class="risk-type ">Policy Violations</span> -->
            </div>
        </div>
    </ng-container>
</div>

<!-- Terminated Users -->
<div *ngIf="componentType==='terminatedUsers' " class="header row">
    <div class="col-9 col-md-12 heading ">
        TOP TERMINATED USERS
    </div>
</div>
<div *ngIf="componentType === 'terminatedUsers'" class="top-riksy-users mt-2">
    <ng-container *ngFor="let terminatedUser of terminatedUsers">
        <div class="row user-item blockPadding">
            <div class="col-2 col-sm-2 col-md-2 pl-2">
                <img class="profile-image rounded-circle"
                    src='./../../../../../assets/images/users/{{terminatedUser.image}}.jpg' />
            </div>
            <div class="col-8 col-sm-8 col-md-8 centerAlign">
                <a [routerLink]="['/riskyUser', terminatedUser.image]">{{terminatedUser.image}}</a>
            </div>
            <div class="col-2 col-sm-2 col-md-2 risk-count centerAlign">
                <span [ngStyle]="{'color':getRiskScoreColor(terminatedUser.score)}"> {{terminatedUser.score}}</span>
            </div>
        </div>
    </ng-container>
</div>

<!-- Orphan Users -->
<div *ngIf="componentType==='orphanUsers' " class="header row">
    <div class="col-9 col-md-12 heading ">
        TOP ORPHAN USERS
    </div>
</div>
<div *ngIf="componentType === 'orphanUsers'" class="top-riksy-users mt-2">
    <ng-container *ngFor="let orphanUser of orphanUsers">
        <div class="row user-item blockPadding">
            <div class="col-2 col-sm-2 col-md-2 pl-2">
                <img class="profile-image rounded-circle" src='./../../../../../assets/images/users/orphan_user.png'
                    style="width: 2.9rem;height: 2.9rem;" />
            </div>
            <div class="col-8 col-sm-8 col-md-8 centerAlign">
                <a [routerLink]="['/riskyUser', orphanUser.image]">{{orphanUser.image}}</a>
            </div>
            <div class="col-2 col-sm-2 col-md-2 risk-count centerAlign">
                <span [ngStyle]="{'color':getRiskScoreColor(orphanUser.score)}"> {{orphanUser.score}}</span>
            </div>
        </div>
    </ng-container>
</div>

<!-- External Users -->
<div *ngIf="componentType==='externalUsers' " class="header row">
    <div class="col-9 col-md-12 heading ">
        TOP EXTERNAL USERS
    </div>
</div>
<div *ngIf="componentType === 'externalUsers'" class="top-riksy-users mt-2">
    <ng-container *ngFor="let externalUser of externalUsers">
        <div class="row user-item blockPadding">
            <div class="col-2 col-sm-2 col-md-2 pl-2">
                <img class="profile-image rounded-circle"
                    src='./../../../../../assets/images/users/{{externalUser.image}}.jpg' />
            </div>
            <div class="col-8 col-sm-8 col-md-8 centerAlign">
                <a [routerLink]="['/riskyUser', externalUser.image]">{{externalUser.image}}</a>
            </div>
            <div class="col-2 col-sm-2 col-md-2 risk-count centerAlign">
                <span [ngStyle]="{'color':getRiskScoreColor(externalUser.score)}"> {{externalUser.score}}</span>
            </div>
        </div>
    </ng-container>
</div>

<!-- TOP CLOUD USERS -->
<div *ngIf="componentType==='riskyCloud' " class="header row">
    <div class="col-9 col-md-12 heading ">
        TOP CLOUD USERS
    </div>
</div>
<div *ngIf="componentType === 'riskyCloud'" class="top-riksy-users mt-2">
    <ng-container *ngFor="let riskyCloudUser of riskyCloudUsers">
        <div class="row user-item blockPadding">
            <div class="col-2 col-sm-2 col-md-2 pl-2">
                <img class="profile-image rounded-circle"
                    src='./../../../../../assets/images/users/{{riskyCloudUser.image}}.jpg' />
            </div>
            <div class="col-8 col-sm-8 col-md-8 centerAlign">
                <a [routerLink]="['/riskyUser', riskyCloudUser.image]">{{riskyCloudUser.image}}</a>
            </div>
            <div class="col-2 col-sm-2 col-md-2 risk-count centerAlign">
                <span [ngStyle]="{'color':getRiskScoreColor(riskyCloudUser.score)}"> {{riskyCloudUser.score}}</span>
            </div>
        </div>
    </ng-container>
</div>

<!-- Dormant Users -->
<div *ngIf="componentType==='dormantUsers' " class="header row">
    <div class="col-9 col-md-12 heading ">
        TOP DORMANT USERS
    </div>
</div>
<div *ngIf="componentType === 'dormantUsers'" class="top-riksy-users mt-2">
    <ng-container *ngFor="let dormantUser of dormantUsers">
        <div class="row user-item blockPadding">
            <div class="col-2 col-sm-2 col-md-2 pl-2">
                <img class="profile-image rounded-circle"
                    src='./../../../../../assets/images/users/{{dormantUser.image}}.jpg' />
            </div>
            <div class="col-8 col-sm-8 col-md-8 centerAlign">
                <a [routerLink]="['/riskyUser', dormantUser.image]">{{dormantUser.image}}</a>
            </div>
            <div class="col-2 col-sm-2 col-md-2 risk-count centerAlign">
                <span [ngStyle]="{'color':getRiskScoreColor(dormantUser.score)}"> {{dormantUser.score}}</span>
            </div>
        </div>
    </ng-container>
</div>

<!-- Top Service Account -->
<div *ngIf="componentType==='serviceAccount' " class="header row">
    <div class="col-9 col-md-12 heading ">
        TOP SERVICE ACCOUNTS
    </div>
</div>
<div *ngIf="componentType === 'serviceAccount'" class="top-riksy-users mt-2">
    <ng-container *ngFor="let serviceAcnt of serviceAccount">
        <div class="row user-item blockPadding">
            <div class="col-2 col-sm-2 col-md-2 pl-2">
                <img class="profile-image rounded-circle"
                    src="./../../../../../assets/images/users/service_user.jpeg" />
            </div>
            <div class="col-8 col-sm-8 col-md-8 centerAlign">
                <a [routerLink]="['/riskyUser', serviceAcnt.image]">{{'svc_'+serviceAcnt.image}}</a>
            </div>
            <div class="col-2 col-sm-2 col-md-2 risk-count centerAlign">
                <span [ngStyle]="{'color':getRiskScoreColor(serviceAcnt.score)}"> {{serviceAcnt.score}}</span>
            </div>
        </div>
    </ng-container>
</div>

<!-- Watch list users-->
<div *ngIf="componentType==='watchlistedUsers' " class="header row">
    <div class="col-9 col-md-12 heading ">
        TOP FLIGHT USERS
    </div>
</div>
<div *ngIf="componentType === 'watchlistedUsers'" class="top-riksy-users mt-2">
    <ng-container *ngFor="let watchlistedUser of watchlistedUsers">
        <div class="row user-item blockPadding">
            <div class="col-2 col-sm-2 col-md-2 pl-2">
                <img class="profile-image rounded-circle"
                    src='./../../../../../assets/images/users/{{watchlistedUser.image}}.jpg' />
            </div>
            <div class="col-8 col-sm-8 col-md-8 centerAlign">
                <a [routerLink]="['/riskyUser', watchlistedUser.image]">{{watchlistedUser.image}}</a>
            </div>
            <div class="col-2 col-sm-2 col-md-2 risk-count centerAlign">
                <span [ngStyle]="{'color':getRiskScoreColor(watchlistedUser.score)}"> {{watchlistedUser.score}}</span>
            </div>
        </div>
    </ng-container>
</div>

<!-- Privileged Users -->
<div *ngIf="componentType==='privilegedUsers' " class="header row">
    <div class="col-9 col-md-12 heading ">
        {{'global.topPrivilegedUsers' | translate}}
    </div>
</div>
<div *ngIf="componentType === 'privilegedUsers'" class="top-riksy-users mt-2">
    <ng-container *ngFor="let privilegedUser of privilegedUsers">
        <div class="row user-item blockPadding">
            <div class="col-2 col-sm-2 col-md-2 pl-2">
                <img class="profile-image rounded-circle"
                    src='./../../../../../assets/images/users/{{privilegedUser.image}}.jpg' />
            </div>
            <div class="col-8 col-sm-8 col-md-8 centerAlign">
                <a [routerLink]="['/riskyUser', privilegedUser.image]">{{privilegedUser.image}}</a>
            </div>
            <div class="col-2 col-sm-2 col-md-2 risk-count centerAlign">
                <span [ngStyle]="{'color':getRiskScoreColor(privilegedUser.score)}"> {{privilegedUser.score}}</span>
            </div>
        </div>
    </ng-container>
</div>