<div class="mt-2">
    <div class="row pageTitle ml-2 mr-2">
        <div class="col-md-10 initialPadding" style="display: flex;align-items:center;">
            <span>{{'general.menu.dashboard' | translate}}</span>
        </div>

        <div class="col-md-2 initialPadding">
            <a href="https://search-cybernetix-7aladlvxidvs7lovmnvdsmyffm.us-east-2.es.amazonaws.com/_plugin/kibana/app/kibana"
                target="_blank">
                <button type="button" class="btn pull-right">
                    {{'dashboard.liveThreatHunting' | translate}}
                </button>
            </a>
        </div>
    </div>
</div>

<div class="dashboard-page mt-4 ml-2 mr-2">
    <div class="card-col-4">
        <pie-chart></pie-chart>
    </div>

    <div class="top-details row">
        <top-details class="top-details-container" componentType="riskyUser"></top-details>
        <top-details class="top-details-container" componentType="topThreats"></top-details>
        <top-details class="top-details-container" componentType="topViolations"></top-details>
    </div>

    <div class="chart-details row">
        <globe-chart class="chart-details-container2" componentType="base-chart">chart </globe-chart>
        <globe-chart class="chart-details-container2" componentType="pie-chart">chart </globe-chart>
        <globe-chart class="chart-details-container2" componentType="gl-map">globe </globe-chart>
    </div>

    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="carousel-slide-container">
                <div class="top-details row mt-3">
                    <top-details class="top-details-container4" componentType="privilegedUsers"></top-details>
                    <top-details class="top-details-container4" componentType="dormantUsers"></top-details>
                    <top-details class="top-details-container4" componentType="serviceAccount"></top-details>
                    <top-details class="top-details-container4" componentType="watchlistedUsers"></top-details>
                </div>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="carousel-slide-container">
                <div class="top-details row mt-3">
                    <top-details class="top-details-container4" componentType="terminatedUsers"></top-details>
                    <top-details class="top-details-container4" componentType="orphanUsers"></top-details>
                    <top-details class="top-details-container4" componentType="externalUsers"></top-details>
                    <top-details class="top-details-container4" componentType="riskyCloud"></top-details>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>