<div class="mt-2">
    <div class="row pageTitle ml-2 mr-2">
        <div class="col-md-10 initialPadding" style="display: flex;align-items:center;">
            <span>{{'general.menu.dashboard' | translate}}</span>
        </div>

        <div class="col-md-2 initialPadding">
            <a href="{{kibanaUrl}}" target="_blank">
                <button mat-raised-button color="primary"
                    class="pull-right">{{'dashboard.liveThreatHunting' | translate}}</button>
            </a>
        </div>
    </div>
</div>

<div class="dashboard-page mt-4 ml-2 mr-2">
    <div class="card-col-4">
        <app-dashboard-count></app-dashboard-count>
    </div>

    <div class="top-details row">
        <top-details class="top-details-container" componentType="riskyEntities"></top-details>
        <top-details class="top-details-container" componentType="topViolations"></top-details>
        <top-details class="top-details-container" componentType="topThreats"></top-details>
    </div>

    <div class="chart-details row">
        <globe-chart class="chart-details-container2" componentType="riskByTitle">chart</globe-chart>
        <globe-chart class="chart-details-container2" componentType="riskByDept">chart</globe-chart>
        <globe-chart class="chart-details-container2" componentType="riskByLocation">globe</globe-chart>
    </div>

    <div class="carousel-slide-container">
        <div class="top-details row mt-3">
            <app-top-users class="top-details-container4" user="PRIVILEGED" componentType="privilegedUsers">
            </app-top-users>
            <app-top-users class="top-details-container4" user="DORMANT" componentType="dormantUsers"></app-top-users>
            <app-top-users class="top-details-container4" user="SERVICE" componentType="serviceAccount"></app-top-users>
            <app-top-users class="top-details-container4" user="NEW" componentType="watchlistedUsers"></app-top-users>
        </div>
    </div>

    <div class="carousel-slide-container">
        <div class="top-details row mt-3">
            <app-top-users class="top-details-container4" user="TERMINATED" componentType="privilegedUsers">
            </app-top-users>
            <app-top-users class="top-details-container4" user="ORPHAN" componentType="dormantUsers"></app-top-users>
            <app-top-users class="top-details-container4" user="EXTERNAL" componentType="serviceAccount">
            </app-top-users>
            <app-top-users class="top-details-container4" user="OKTA" componentType="watchlistedUsers"></app-top-users>
        </div>
    </div>
</div>