<div class="mt-2">
    <div class="row pageTitle ml-2 mr-2" style="margin:auto;display: inherit;">
        <span>{{'general.menu.dashboard' | translate}}</span>

        <a href="https://search-cybernetix-7aladlvxidvs7lovmnvdsmyffm.us-east-2.es.amazonaws.com/_plugin/kibana/app/kibana" target="_blank">
            <button type="button" class="btn btn-sm pull-right">
                {{'dashboard.liveThreatHunting' | translate}}
            </button>
         </a>
    </div>
</div>

<!-- <div class="container-fluid">
    <div class="row">
        <top-details class="top-details-container" componentType="riskyUser"></top-details>
        <top-details class="top-details-container" componentType="topThreats"></top-details>
        <top-details class="top-details-container" componentType="topViolations"></top-details>
    </div>
</div> -->

<div class="dashboard-page mt-4 ml-2 mr-2">
    <div class="card-col-4">
        <pie-chart></pie-chart>
    </div>

    <div class="top-details mt-3 row" style="margin: auto;">
        <top-details class="top-details-container" componentType="riskyUser"></top-details>
        <top-details class="top-details-container" componentType="topThreats"></top-details>
        <top-details class="top-details-container" componentType="topViolations"></top-details>
    </div>

    <div class="card-col-4">
        <globe-chart></globe-chart>
    </div>

    <div class="chart-details mt-3 row" style="margin: auto;">
        <map-chart class="chart-details-container" componentType="line-chart">Monthly Comprision of Violation Caught</map-chart>
        <map-chart class="chart-details-container" componentType="g-map">User by Country</map-chart>
    </div>
</div>