.p-xs {
    padding: 5px;
}
.p-sm {
    padding: 10px;
}
.p-md {
    padding: 15px
}
.p-l {
    padding: 20px
}
.p-t-xs {
    padding-top: 5px;
}
.p-t-sm {
    padding-top: 10px;
}
.p-t-md {
    padding-top: 15px;
}
.p-t-l {
    padding-top: 20px;
}

.p-b-xs {
    padding-bottom: 5px;
}
.p-b-sm {
    padding-bottom: 10px;
}
.p-b-md {
    padding-bottom: 15px;
}
.p-b-l {
    padding-bottom: 20px;
}

.p-l-xs {
    padding-left: 5px;
}
.p-l-sm {
    padding-left: 10px;
}
.p-l-md {
    padding-left: 15px;
}
.p-l-l {
    padding-left: 20px;
}
